<a href="https://colab.research.google.com/github/msmith0505/MIS2800/blob/main/SmithHW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

/bin/bash: line 1: pip install --upgrade pandas ipython-sql prettytable==3.10.1: command not found

In [3]:
!pip install ipython-sql
print("ipython sql installed")

/bin/bash: line 1: pip install ipython-sql: command not found
ipython sql installed

In [13]:
# Load the SQL magic extension
%load_ext sql

In [15]:
#this code imports sqlite3 and prints a statement stating it has been imported
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [17]:
# This creates a brand-new, empty database file named 'AdCampaigns2026.db'
conn = sqlite3.connect('AdCampaigns2026.db')
print("database created")

database created

In [18]:
# This line is required so Colab stops acting like Python and acts more like a SQL database terminal
%sql sqlite:///AdCampaigns2026.db

There are bugs (mistakes) for you to find and fix in the next 10 blocks

In [21]:
#Block 1
# Instructions: There is a typo in the table.  Hint: a word is missing.
%%sql
CREATE Table Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;

 * sqlite:///AdCampaigns2026.db
Done.

[]

In [26]:
#Block 2
# Instructions: Find and fix the error.
%%sql
INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

 * sqlite:///AdCampaigns2026.db
7 rows affected.

[]

In [46]:
#Block 3
%%sql --output df
-- Instructions: Fix the code to select all the columns from the market
SELECT * FROM Marketing_Brands;

df

 * sqlite:///AdCampaigns2026.db
Done.
(sqlite3.OperationalError) near "df": syntax error
[SQL: df]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [47]:
#Block 4
%%sql --output df_block4
-- Instructions: Fix the code to display only the brand names and brand
SELECT brand_name, brand_type
FROM Marketing_Brands;

df_block4

 * sqlite:///AdCampaigns2026.db
Done.
(sqlite3.OperationalError) near "df_block4": syntax error
[SQL: df_block4]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [43]:
#Block 5
%%sql --output df_block5
-- Instructions: Fix the code to find the brand types that are Religious
SELECT brand_type FROM Marketing_Brands WHERE brand_type = 'Religious';
df_block5

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) no such column: FROM Marketing_Brands
[SQL: -- Instructions: Fix the code to find the brand types that are Religious
SELECT FROM Marketing_Brands]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [44]:
#Block 6
# -- Instructions: Fix the code to display the
# brand names that have a budget under 1000000
%%sql --output df_block6
SELECT brand_name FROM Marketing_Brands WHERE brand_budget < 1000000;
df_block6

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) no such column: FROM Marketing_Brands
[SQL: SELECT FROM Marketing_Brands]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [48]:
#Block 7
# Instructins: Fix the code so that this will run SQLite3 in
# Colab without having to wrap in Python. Hint: It's Magic!
%%sql --output df_block7
SELECT * FROM Marketing_Brands WHERE brand_budget > 7000000;

df_block7

 * sqlite:///AdCampaigns2026.db
Done.

KeyError: 'DEFAULT'

In [49]:
#Block 8
%%sql
--Instructions: Find the brands where the brand type is
# Snacks or Beverages.  Display only the brand names.
SELECT * FROM Marketing_Brands

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "# Snacks or Beverages": syntax error
[SQL: --Instructions: Find the brands where the brand type is
# Snacks or Beverages.  Display only the brand names.
SELECT * FROM Marketing_Brands]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [50]:
#Block 9
%%sql
-- Instructions: Sort the table by brand budget in
# DESC order. Display only the brand_name and brand_budget.
SELECT

 * sqlite:///AdCampaigns2026.db
(sqlite3.OperationalError) near "# DESC order": syntax error
[SQL: -- Instructions: Sort the table by brand budget in
# DESC order. Display only the brand_name and brand_budget.
SELECT]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [51]:
#Block 10
# Using SQLite3 (and all its magic) to create a
# table showing all the columns in ascending order by budget.